body {
  background-image: url(drums.jpg);
  background-size: cover;
}
.keys {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.key {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 15px;
  margin-right: 25px;
  font-family: "Glegoo", serif;
  background-color: white;
  filter: drop-shadow(0 0 0.75rem #b847f1);
}
.key:hover {
  transform: scale(1.1); /* Scale up to 110% when hovered */
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-left: 440px;
  margin-right: 440px;
  font-family: "Glegoo", serif;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 0px;
  background-color: #dc9bff;
  border: 2px solid white;
  filter: drop-shadow(0 0 0.75rem white);
  border-radius: 20px;
}
h3 {
  margin-top: 20px;
  text-align: center;
  font-family: "Glegoo", serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#credits {
  margin-top: 130px;
  text-align: center;
  font-size: 10px;
  line-height: 1px;
  font-family: "Glegoo", serif;
  color: white;
}
#credits a {
  color: white;
  text-decoration: none;
}
#credits:hover {
  font-size: 12px;
}
#credits a:hover {
  font-size: 12px;
}
